@page "/supportrequests"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using TravelItineraryProject.Domain
@using TravelItineraryProject.Data
@implements IAsyncDisposable
@inject IDbContextFactory<TravelItineraryProject.Data.TravelItineraryProjectContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<AuthorizeView Roles="Administrator, User">
    <p>
        <a href="support/request">Create New</a>
    </p>
</AuthorizeView>

<QuickGrid Class="table" Items="context.SupportRequest">
    <PropertyColumn Property="supportrequest => supportrequest.Comments" />
    <PropertyColumn Property="supportrequest => supportrequest.TypeofSupport" />
    <PropertyColumn Property="supportrequest => supportrequest.Responds" />
    <AuthorizeView Roles="Administrator, Staff">
        <PropertyColumn Property="supportrequest => supportrequest.CustomerId" />
        <PropertyColumn Property="supportrequest => supportrequest.StaffId" />
        <PropertyColumn Property="supportrequest => supportrequest.Assisted" />
    </AuthorizeView>

    <TemplateColumn Context="supportrequest">
        <AuthorizeView Roles="Administrator, Staff">
            <a href="@($"supportrequests/respond?supportrequestid={supportrequest.SupportRequestId}")">Respond</a> |
        </AuthorizeView>
        <a href="@($"supportrequests/details?supportrequestid={supportrequest.SupportRequestId}")">Details</a>
        <AuthorizeView Roles="Administrator">
            | <a href="@($"supportrequests/delete?supportrequestid={supportrequest.SupportRequestId}")">Delete</a>
        </AuthorizeView>
    </TemplateColumn>
</QuickGrid>

@code {
    private TravelItineraryProjectContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
