@page "/customers"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using TravelItineraryProject.Domain
@using TravelItineraryProject.Data
@implements IAsyncDisposable
@inject IDbContextFactory<TravelItineraryProject.Data.TravelItineraryProjectContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <AuthorizeView Roles="Administrator">
        <a href="customers/create">Create New</a>
    </AuthorizeView>
</p>

<QuickGrid Class="table" Items="context.Customer">
    <PropertyColumn Property="customer => customer.FirstName" />
    <PropertyColumn Property="customer => customer.LastName" />
    <PropertyColumn Property="customer => customer.EmailAddress" />

    <TemplateColumn Context="customer">
        <AuthorizeView Roles="Administrator">
            <a href="@($"customers/edit?customerid={customer.CustomerId}")">Edit</a> |
            <a href="@($"customers/delete?customerid={customer.CustomerId}")">Delete</a> |
        </AuthorizeView>
        <a href="@($"customers/details?customerid={customer.CustomerId}")">Details</a> 

    </TemplateColumn>
</QuickGrid>

@code {
    private TravelItineraryProjectContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
