@page "/reviews"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using TravelItineraryProject.Domain
@using TravelItineraryProject.Data
@implements IAsyncDisposable
@inject IDbContextFactory<TravelItineraryProject.Data.TravelItineraryProjectContext> DbFactory



<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="reviews/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Review">
    <PropertyColumn Property="review => review.Rating" />
    <PropertyColumn Property="review => review.ReviewDate" />
    <PropertyColumn Property="review => review.Comment" />
    <PropertyColumn Property="review => review.ApprovedByStaff" />
    <PropertyColumn Property="review => review.ItineraryId" />
    <PropertyColumn Property="review => review.UserId" />
    <PropertyColumn Property="review => review.StaffId" />

    <TemplateColumn Context="review">
        <a href="@($"reviews/edit?reviewid={review.ReviewId}")">Edit</a> |
        <a href="@($"reviews/details?reviewid={review.ReviewId}")">Details</a> |
        <a href="@($"reviews/delete?reviewid={review.ReviewId}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private TravelItineraryProjectContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
